.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-danger);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--s5);
    position: relative;
}

.image404 {
    max-width: 920px;
    width: 100%;
}
p {
    z-index: 1000;
    color: var(--color-dark);
    font-size: var(--h2);
    font-weight: 700;
    margin-bottom: var(--s3);
    text-align: center;
}

a {
    background-color: var(--color-third);
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 600;
    padding: var(--s2) var(--s5);
    border-radius: var(--s3);
    border-bottom: 4px solid var(--color-primary);
    transition: all 0.2s ease-in-out;
}

a:hover {
    background-color: var(--color-primary);
    border-bottom: 4px solid var(--color-secondary);
}
